* {

	margin: 0;
	padding: 0;
}

.board {

	height: 256px;
	width: 256px;
	
	margin: 20px auto;
	background-color: white;
	padding: 0;

}

html {

	background-color: grey;
}

.box {

	height: 16px;
	width: 16px;
	background-color: white;
	margin: 0;
    padding: 0;
    float: left;
	
    
}

.hover {

	background-color: red;
	
}