* {

	margin: 0;
	padding: 0;
}

.board {

	height: 960px;
	width: 960px;
	
	margin: 20px auto;
	background-color: white;
	padding: 0;
	border: 2px solid black;

}

html {

	background-color: grey;
}

.box {

	height: 16px;
	width: 16px;
	background-color: white;
	margin: 0;
    padding: 0;
    float: left;
	
    
}

.hover {

	background-color: red;
	
}

.wrapper > button {

	margin: 20px auto;
	background-color: yellow;
	display: block;
	padding: 10px;
	
	
	

}

.wrapper {

	margin: 0 auto;
	width: 400px;
	
	height: 100px;
}




